

<section class="fxt-template-animation fxt-template-layout6">
    <div class="fxt-content">
        <div class="fxt-form">
            <div class="form-group">
                <div class="fxt-transformY-50 fxt-transition-delay-3">
                    @Html.TADatePicker("Datapicker1", DateTime.Now, null, "", true, null, null)
                </div>
            </div>
        </div>
    </div>
</section>