
html {
    height: 100%;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    height: 100%;
    line-height: 1.7;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    color: #646464;
    background-color: #fff;
}

p {
    margin: 0 0 20px 0;
    color: #646464;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin: 0 0 20px 0;
    color: #111;
}

h1,
h2 {
    line-height: 1.2;
}

h3,
h4,
h5,
h6 {
    line-height: 1.4;
}

h1 {
    font-size: 36px;
}

@media only screen and (max-width: 1199px) {
    h1 {
        font-size: 34px;
    }
}

@media only screen and (max-width: 991px) {
    h1 {
        font-size: 32px;
    }
}

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 30px;
    }
}

h2 {
    font-size: 28px;
}

@media only screen and (max-width: 1199px) {
    h2 {
        font-size: 26px;
    }
}

@media only screen and (max-width: 991px) {
    h2 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 767px) {
    h2 {
        font-size: 22px;
    }
}

h3 {
    font-size: 22px;
}

@media only screen and (max-width: 991px) {
    h3 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 767px) {
    h3 {
        font-size: 18px;
    }
}

h4 {
    font-size: 20px;
}

@media only screen and (max-width: 991px) {
    h4 {
        font-size: 18px;
    }
}

@media only screen and (max-width: 767px) {
    h4 {
        font-size: 16px;
    }
}

h5 {
    font-size: 18px;
}

@media only screen and (max-width: 991px) {
    h5 {
        font-size: 16px;
    }
}

a {
    text-decoration: none;
}

    a:active,
    a:hover,
    a:focus {
        text-decoration: none;
    }

    a:active,
    a:hover,
    a:focus {
        outline: 0 none;
    }

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.fxt-content-between {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media only screen and (max-width: 767px) {
    .fxt-none-767 {
        display: none !important;
    }
}

@media only screen and (max-width: 991px) {
    .fxt-none-991 {
        display: none !important;
    }
}
/*========================================================================
 Template Animation
=========================================================================*/
.fxt-template-animation {
    position: relative;
    z-index: 1;
    width: 100%;
    opacity: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    .fxt-template-animation .fxt-transformY-50 {
        opacity: 0;
        -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);
        transform: translateY(50px);
    }

.loaded.fxt-template-animation {
    opacity: 1;
}

    .loaded.fxt-template-animation .fxt-transformY-50 {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
        -webkit-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
    }

    .loaded.fxt-template-animation .fxt-transition-delay-1 {
        -webkit-transition-delay: 0.1s;
        -o-transition-delay: 0.1s;
        transition-delay: 0.1s;
    }

    .loaded.fxt-template-animation .fxt-transition-delay-2 {
        -webkit-transition-delay: 0.2s;
        -o-transition-delay: 0.2s;
        transition-delay: 0.2s;
    }

    .loaded.fxt-template-animation .fxt-transition-delay-3 {
        -webkit-transition-delay: 0.3s;
        -o-transition-delay: 0.3s;
        transition-delay: 0.3s;
    }

    .loaded.fxt-template-animation .fxt-transition-delay-4 {
        -webkit-transition-delay: 0.4s;
        -o-transition-delay: 0.4s;
        transition-delay: 0.4s;
    }

    .loaded.fxt-template-animation .fxt-transition-delay-5 {
        -webkit-transition-delay: 0.5s;
        -o-transition-delay: 0.5s;
        transition-delay: 0.5s;
    }

    .loaded.fxt-template-animation .fxt-transition-delay-6 {
        -webkit-transition-delay: 0.6s;
        -o-transition-delay: 0.6s;
        transition-delay: 0.6s;
    }

    .loaded.fxt-template-animation .fxt-transition-delay-7 {
        -webkit-transition-delay: 0.7s;
        -o-transition-delay: 0.7s;
        transition-delay: 0.7s;
    }

    .loaded.fxt-template-animation .fxt-transition-delay-8 {
        -webkit-transition-delay: 0.8s;
        -o-transition-delay: 0.8s;
        transition-delay: 0.8s;
    }

    .loaded.fxt-template-animation .fxt-transition-delay-9 {
        -webkit-transition-delay: 0.9s;
        -o-transition-delay: 0.9s;
        transition-delay: 0.9s;
    }

    .loaded.fxt-template-animation .fxt-transition-delay-10 {
        -webkit-transition-delay: 1s;
        -o-transition-delay: 1s;
        transition-delay: 1s;
    }

    .loaded.fxt-template-animation .fxt-transition-delay-11 {
        -webkit-transition-delay: 1.1s;
        -o-transition-delay: 1.1s;
        transition-delay: 1.1s;
    }

    .loaded.fxt-template-animation .fxt-transition-delay-12 {
        -webkit-transition-delay: 1.2s;
        -o-transition-delay: 1.2s;
        transition-delay: 1.2s;
    }

    .loaded.fxt-template-animation .fxt-transition-delay-13 {
        -webkit-transition-delay: 1.3s;
        -o-transition-delay: 1.3s;
        transition-delay: 1.3s;
    }

    .loaded.fxt-template-animation .fxt-transition-delay-14 {
        -webkit-transition-delay: 1.4s;
        -o-transition-delay: 1.4s;
        transition-delay: 1.4s;
    }

    .loaded.fxt-template-animation .fxt-transition-delay-15 {
        -webkit-transition-delay: 1.5s;
        -o-transition-delay: 1.5s;
        transition-delay: 1.5s;
    }

    .loaded.fxt-template-animation .fxt-transition-delay-16 {
        -webkit-transition-delay: 1.6s;
        -o-transition-delay: 1.6s;
        transition-delay: 1.6s;
    }

    .loaded.fxt-template-animation .fxt-transition-delay-17 {
        -webkit-transition-delay: 1.7s;
        -o-transition-delay: 1.7s;
        transition-delay: 1.7s;
    }

    .loaded.fxt-template-animation .fxt-transition-delay-18 {
        -webkit-transition-delay: 1.8s;
        -o-transition-delay: 1.8s;
        transition-delay: 1.8s;
    }

    .loaded.fxt-template-animation .fxt-transition-delay-19 {
        -webkit-transition-delay: 1.9s;
        -o-transition-delay: 1.9s;
        transition-delay: 1.9s;
    }

    .loaded.fxt-template-animation .fxt-transition-delay-20 {
        -webkit-transition-delay: 2s;
        -o-transition-delay: 2s;
        transition-delay: 2s;
    }

/*========================================================================
Main Css Template
=========================================================================*/
.fxt-template-layout6 {
    padding: 15px;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    z-index: 1;
    background-position: center;
    background-size: cover;
    background-color: #AACDBE;
    background-repeat: no-repeat;
}

    .fxt-template-layout6:before {
        content: "";
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.15);
        left: 0;
        top: 0;
        position: absolute;
        z-index: -1;
    }

    .fxt-template-layout6 .fxt-content-between {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .fxt-template-layout6 .fxt-content {
        max-width: 660px;
        width: 100%;
        background-color: #fff;
        padding: 90px 80px 70px;
    }

@media only screen and (max-width: 991px) {
    .fxt-template-layout6 .fxt-content {
        padding: 90px 70px 70px;
    }
}

@media only screen and (max-width: 767px) {
    .fxt-template-layout6 .fxt-content {
        padding: 70px 50px 50px;
    }
}

@media only screen and (max-width: 575px) {
    .fxt-template-layout6 .fxt-content {
        padding: 50px 30px 30px;
    }
}

.fxt-template-layout6 .fxt-form {
    margin-bottom: 40px;
}

    .fxt-template-layout6 .fxt-form h2 {
        font-weight: 700;
        margin-bottom: 30px;
    }

    .fxt-template-layout6 .fxt-form p {
        margin-bottom: 30px;
        font-size: 17px;
    }

    .fxt-template-layout6 .fxt-form .form-group {
        position: relative;
        z-index: 1;
    }

        .fxt-template-layout6 .fxt-form .form-group i {
            position: absolute;
            z-index: 1;
            right: 5px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        .fxt-template-layout6 .fxt-form .form-group [class^="flaticon-"]:before,
        .fxt-template-layout6 .fxt-form .form-group [class*=" flaticon-"]:before,
        .fxt-template-layout6 .fxt-form .form-group [class^="flaticon-"]:after,
        .fxt-template-layout6 .fxt-form .form-group [class*=" flaticon-"]:after {
            margin-left: 0;
            font-size: 17px;
            color: #a1a1a1;
        }

    .fxt-template-layout6 .fxt-form .form-control {
        background-color: #f6f6f6;
        min-height: 50px;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 0;
        padding: 10px 30px;
        color: #111111;
    }

    .fxt-template-layout6 .fxt-form input::-webkit-input-placeholder {
        color: #a1a1a1;
        font-size: 15px;
        font-weight: 300;
    }

    .fxt-template-layout6 .fxt-form input::-moz-placeholder {
        color: #a1a1a1;
        font-size: 15px;
        font-weight: 300;
    }

    .fxt-template-layout6 .fxt-form input:-moz-placeholder {
        color: #a1a1a1;
        font-size: 15px;
        font-weight: 300;
    }

    .fxt-template-layout6 .fxt-form input:-ms-input-placeholder {
        color: #a1a1a1;
        font-size: 15px;
        font-weight: 300;
    }

.fxt-template-layout6 .fxt-TAn-fill {
    margin-right: 30px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    border: 0;
    color: #fff;
    border-radius: 3px;
    background-color: #EA907A;
    padding: 10px 36px;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    .fxt-template-layout6 .fxt-TAn-fill:hover {
        background-color: #EA907A;
        border-color: #EA907A;
    }

.buttonContainer {
    text-align: center;
}

.fxt-template-layout6 .fxt-TAn-fill:focus {
    outline: none;
}

.fxt-template-layout6 .switcher-text {
    color: #9f9f9f;
    font-size: 15px;
    margin-bottom: 7px;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    .fxt-template-layout6 .switcher-text:hover {
        color: #666;
    }

.fxt-template-layout6 .switcher-text2 {
    color: #63bbff;
    font-size: 15px;
    display: inline-block;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    .fxt-template-layout6 .switcher-text2.inline-text {
        margin-left: 3px;
    }

    .fxt-template-layout6 .switcher-text2:hover {
        color: #000;
    }
